{{ 'custom-slider.css' | asset_url | stylesheet_tag }}
{{ 'slick.css' | asset_url | stylesheet_tag }}
{{ 'slick-theme.css' | asset_url | stylesheet_tag }}

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
  integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
  defer
></script>
<script src="{{ "slick.js" | asset_url }}" defer></script>


<div class="_my-slider-container">
  <div class="_my-slider-slides">
    <div class="_my-slider-item">
      {% if section.settings.slide-image-1 %}
        <img src="{{ section.settings.slide-image-1 | image_url }}" width="100" height="100" alt="Slider Image">
      {% else %}
        <img src="{{ "shirt-store-1.webp" | asset_url }}" width="100" height="100" alt="Slider Image">
      {% endif %} 
      <div class="_my-slide-text">
        <h2>          
          {{ section.settings.slide-text-1 }}
        </h2>
      </div>
    </div>
    <div class="_my-slider-item">   
      {% if section.settings.slide-image-2 %}
        <img src="{{ section.settings.slide-image-2 | image_url }}" width="100" height="100" alt="Slider Image">
      {% else %}        
      <img src="{{ "shirt-store-2.webp" | asset_url }}" width="100" height="100" alt="Slider Image">
      {% endif %}
      <div class="_my-slide-text">
        <h2>
          {{ section.settings.slide-text-2 }}
        </h2>
      </div>
    </div>
    <div class="_my-slider-item">   
      {% if section.settings.slide-image-3 %}
        <img src="{{ section.settings.slide-image-3 | image_url }}" width="100" height="100" alt="Slider Image">
      {% else %}        
      <img src="{{ "shirt-store-3.webp" | asset_url }}" width="100" height="100" alt="Slider Image">
      {% endif %}   
      <div class="_my-slide-text">
        <h2>
          {{ section.settings.slide-text-3 }}
        </h2>
      </div>
    </div>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', () => {
    $('._my-slider-slides').slick({
      adaptiveHeight: true,
      autoplay: true,
      autoplaySpeed: 2000,
      arrows: false,
      fade: true
    });
  });
</script>

{% schema %}
  {
    "name": "Image with slides",
    "tag": "section",
    "class": "section",
    "settings": [
      {
      "type": "image_picker",
      "id": "slide-image-1",
      "label": "Slide Image 1"
      },
      {
      "type": "text",
      "id": "slide-text-1",
      "label": "Slide 1 Text",
      "default": "Best Shirt Store"
      },
      {
      "type": "image_picker",
      "id": "slide-image-2",
      "label": "Slide Image 2"
      },
      {
        "type": "text",
        "id": "slide-text-2",
        "label": "Slide 2 Text",
        "default": "Best Shirt Store"
        },
      {
      "type": "image_picker",
      "id": "slide-image-3",
      "label": "Slide Image 3"
      },
      {
        "type": "text",
        "id": "slide-text-3",
        "label": "Slide 3 Text",
        "default": "Best Shirt Store"
        },
    ],
  }
{% endschema %}
